# Ignore virtual environment
venv/

# Ignore logs
logs/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore temporary or OS files
.DS_Store
Thumbs.db
*.csv
data/*.csv

*.env